@model dynamic

@{
    ViewBag.Title = "New Application Form";
}

<h2>ApplicationForm</h2>

<form>
    <div class="form-group">
        <label>Attendee Email</label>
        <input id="attendee" name="attendee" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Training</label>
        <input id="training" name="training" type="text" value="" class="form-control" />
    </div>
    <ul id="trainings" class="list-group"></ul>
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
    {
    <script>
        $(document).ready(function () {

            var vm = {
                trainingIds: []
            };

            var attendees = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('emailaddress'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/attendees?query=%QUERY', 
                    wildcard: '%QUERY'
                }
            });

            $('#attendee').typeahead({
                minLength: 1,
                highlight: true
            }, {
                name: 'emailaddress',
               display: 'firstname',
                source: attendees
            }).on("typeahead:select", function (e, attendee) {

            });
        });

            var trainings = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                        url: '/api/trainings?query=%QUERY',
                    wildcard: '%QUERY',
                        limit:10

                }
            });

            $('#training').typeahead({
                minLength: 1,
                highlight: true,
                limit: 1
            }, {
                /*name: 'trainings',*/
                display: 'capacity',
                source: trainings.ttAdapter()
            }).on("typeahead:select", function (e, training) {
                $("#trainings").append("<li>" + training.name + "</li>");

                $("#training").typeahead("val", "");

                vm.trainingIds.push(training.id);
            });
        
    </script>
    }

